<h1>Chef Tracker</h1>

<p>Is your favorite {{chefName}} cooking right now?
</p>

<p>Find out with <b>Chef Tracker</b>, the hottest new {{chefName}}-tracking app on the market.
</p>

<p>We know some {{chefName}}s are better than others, so we want to tell you who's cooking at our restaurant right now. Is it your favorite {{chefName}}? Then maybe you should visit!
</p>

<p>Name: {{input value=chefName}}</p>

<p>Our chefs are:
  <ol>
    {{#each chefs as |chef|}}
    <li>Delicious food, cooked by {{chef}}</li>
    {{/each}}
  </ol>
</p>
