<h1>Chef Tracker</h1>

<p>Is your favorite {{chefName}} cooking right now?
</p>

<p>Find out with <b>Chef Tracker</b>, the hottest new {{chefName}}-tracking app on the market.
</p>

<p>We know some {{chefName}}s are better than others, so we want to tell you who's cooking at our restaurant right now. Is it your favorite {{chefName}}? Then maybe you should visit!
</p>

<p>Name: {{input value=chefName}}</p>

<p>Our chefs are:
  <ol>
    {{#each chefs as |chef|}}
      {{#if chef.cookingToday}}
        <li class="available">{{chef.name}} <button {{action 'toggleCookingToday' chef}}>Exit</button></li>
      {{else}}
        <li class="not-available">{{chef.name}} <button {{action 'toggleCookingToday' chef}}>Enter</button></li>
      {{/if}}
    {{/each}}
  </ol>
</p>
