<div class="flex-container">
  <div class="flex-item">
    This in chefs.hbs

    <h1>Chef Tracker</h1>
    <h2>This is the master branch! code is on <a href="https://github.com/payne/chef-tracker/">github here</a></h2>
    <p>Is your favorite {{chefName}} cooking right now?
    </p>

    <p>Find out with <b>Chef Tracker</b>, the hottest new {{chefName}}-tracking app on the market.
    </p>

    <p>We know some {{chefName}}s are better than others, so we want to tell you who's cooking at our restaurant right now. Is it your favorite {{chefName}}? Then maybe you should visit!
    </p>

    <p>Name: {{input value=chefName}}</p>

    <p>{{cookingChefs.length}} of our {{model.length}} {{chefName}} are cooking right now!</p>
    <p>Our {{model.length}} {{chefName}} teach {{numberOfStudents}} students.</p>
      <p>Our {{chefName}}s are:</p>
      <p>
      <ol>
        {{#each model as |chef|}}
          {{#if chef.cookingToday}}
            <li class="available">
              {{#link-to 'chefs.chef' chef}}{{chef.name}}{{/link-to}} <button {{action 'toggleCookingToday' chef}}>Exit</button></li>
          {{else}}
            <li class="not-available">{{chef.name}}
              <button {{action 'toggleCookingToday' chef}}>Enter</button>
              <button {{action 'destroyChef' chef}}>Fire</button>
            </li>
          {{/if}}
          <ul>
            <li>Number of students:
                <button {{action 'incrementStudents' chef -1}}>-</button>
                {{chef.numberOfStudents}}
                <button {{action 'incrementStudents' chef 1}}>+</button>
            </li>
          </ul>
        {{/each}}
      </ol>
    </p>

    <p>
      {{input value=newChefName}}
      <button {{action 'saveNewChef'}}>Save</button>
    </p>
  </div>
  <div class="flex-item">
    {{outlet}}
  </div>
</div>
